.backed id="contacto"
  header.custom-navbar style="background-color: white"
    = render partial: "navbar"
  .middle-row
    .overlay
      = render partial: 'formulario'

  .overlay-dark
    br
    = render partial: 'practica'

.banner.back-white
  = render partial: 'banner'
= render partial: 'flyers'
br
br
.container
  .row
    .col-sm-12
      .mapa.text-center
        .f3 Nuestra ubicación
        .map-responsive
          iframe (width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11046.072112536045!2d-58.3771455650304!3d-34.60373448079136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352d4ed3101d%3A0x80323464d7ad1a73!2sTte.%20Gral.%20Juan%20Domingo%20Per%C3%B3n%20315%2C%20C1038AAG%20CABA!5e0!3m2!1ses-419!2sar!4v1666095691085!5m2!1ses-419!2sar" allowfullscreen)
