doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Estudio Rosso
    / = stylesheet_link_tag "main"
    link rel="stylesheet" type="text/css" href="css/main.css"

  body
    .container
      .row
        .col-sm-6
          h2
            | ESTUDIO
            br
            | ROSSO
        .col-sm-6.text-right
          .f4 Hacenos tu consulta ahora
          .f4 4371 6436 | whatsapp 1551443125
          .f4 info@estudiorosso.com.ar
    .middle-row
      .overlay
        .container
          .row
            .col-sm-6
              .f2.white-font Derecho de familia
              .f5
                | Mi objetivo principal es brindarle a mis clientes una atención personalizada, profesional y responsable en la búsqueda de soluciones alternativas, cuidando sus intereses.
            .col-sm-6
              form
                .form-group
                  label for="nombre" Nombre
                  input.form-control name="nombre"
                .form-group
                  label for="telefono" Teléfono
                  input.form-control name="telefono"
                .form-group
                  label for="email" Email
                  input.form-control name="email"
                button.btn.btn-default type="submit" Enviar
    .container
      .row
        .col-sm-6
          .f3 Servicios
          pre
            br
            | Derecho de Familia 
            br
            | 
            br
            | Divorcio, Uniones convivenciales, Pactos de conviviencia, Responsabilidad parental, Plan de parentabilidad, Cuidado personal(tenencia)  
            br
            | 
            br
            | –Alimentos, Compensaciones 
            br
            | 
            br
            | Adopción 
            br
            | 
            br
            | Asesoramiento a familias que cuente con un integrante en situación de discapacidad (capacidad restringida), en la solicitud de las coberturas de las prestaciones ante las obras sociales pre pagas, tramitación certificado discapacidad. Persona protegida (Curatela proceso interdicción e inhabilitación). 
            br
            | 
            br
            | Sucesiones

          pre
            br
            | Derecho de Familia 
            br
            | 
            br
            | Divorcio, Uniones convivenciales, Pactos de conviviencia, Responsabilidad parental, Plan de parentabilidad, Cuidado personal(tenencia)  
            br
            | 
            br
            | –Alimentos, Compensaciones 
            br
            | 
            br
            | Adopción 
            br
            | 
            br
            | Asesoramiento a familias que cuente con un integrante en situación de discapacidad (capacidad restringida), en la solicitud de las coberturas de las prestaciones ante las obras sociales pre pagas, tramitación certificado discapacidad. Persona protegida (Curatela proceso interdicción e inhabilitación). 
            br
            | 
            br
            | Sucesiones

          pre
            br
            | Derecho de Familia 
            br
            | 
            br
            | Divorcio, Uniones convivenciales, Pactos de conviviencia, Responsabilidad parental, Plan de parentabilidad, Cuidado personal(tenencia)  
            br
            | 
            br
            | –Alimentos, Compensaciones 
            br
            | 
            br
            | Adopción 
            br
            | 
            br
            | Asesoramiento a familias que cuente con un integrante en situación de discapacidad (capacidad restringida), en la solicitud de las coberturas de las prestaciones ante las obras sociales pre pagas, tramitación certificado discapacidad. Persona protegida (Curatela proceso interdicción e inhabilitación). 
            br
            | 
            br
            | Sucesiones
